{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Hola desde la página About</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/2139277.jpg" class="img-thumbnail">
        </div>
    </div>

    {{> footer}}
